<script>
  $(window).on("load", () => {
    $(".loader-wrapper").fadeOut('slow')
  });
</script>
<div class="loader-wrapper" style="z-index: 500;">
  <span class="loader"><span class="loader-inner"></span></span>
</div>
<div class="card-login">
  <div class="head-login">
    <h2 id="h-head-login">Sign In</h2>
  </div>
  <br>
  <div class="in-login">
    <% if (alerts.error) { %>
      <% alerts.error.forEach( (msg)=> { %>
        <div class="alert alert-danger">
          <%= msg %>
        </div>
        <% }); %>
          <% } %>
            <% if (alerts.success) { %>
              <% alerts.success.forEach( (msg)=> { %>
                <div class="alert alert-success">
                  <%= msg %>
                </div>
                <% }); %>
                  <% } %>
                    <form action="/signin" method="POST">
                      <input class="input-login" id="nickname" type="text" name="nickname" placeholder="Nickname">
                      <input class="input-login" id="password" type="password" name="password" placeholder="Password">
                      <div id="below-input">
                        <a href="#">Don´t rembember password?</a>
                      </div>
                      <hr>
                      <button class="btn-login" type="submit">Entrar</button>
                    </form>
                    <br>
                    <div>
                      <span>Não tem conta? <a href="/signup">Registo</a></span>
                    </div>
  </div>
</div>